{% extends 'index.html' %} {% block content %}




<div class="notesHeader" id="rootblock">
    

    <form method="POST" action="{{url_for('root', key=key)}}">


        <div class="row">
            <h1 class="text-center">Pick your root note</h1>
            
            <div class="col-11 notesSection">
                {% for each in Keynotes %}


                <div class="form-check form-check-inline noteselect">

                    <input name="rootSelect" class="form-check-input" type="radio"
                        id="inlineRootCheckbox" value="{{ each }}">
                    <label class="form-check-label" for="inlineRootCheckbox">{{ each }}</label>
                </div>
                {% endfor %}
            </div>
            

            <div class="col-1">
                <button type="submit" id="root_Select"
                    class="play_root btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
    </form>

</div>

<!--
<div class="notesHeader" id="notesblock">
    <form method="POST" action="}">
        <div class="row">
            <h1 class="text-center">Select notes for harmony</h1>
            <div class="col-11 notesSection">

                {% for notes in Keynotes %}
                <div class="form-check form-check-inline noteselect">

                    <input class="form-check-input" type="checkbox" id="inlineCheckbox{{ notes }}"
                        value="{{ notes }}" name="harmSelect{{notes}}">
                    <label class="form-check-label" for="inlineCheckbox">{{ notes }}</label>
                </div>
                {% endfor %}
            </div>
            <div class="col-1">
                <button type="submit" id="harmSelect"
                    class="play_root btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
    </form>
</div>

-->
{% endblock %}
