{% extends 'base.html' %}{% block content %}

<div class="notesHeader">
    <form method="post">
        <div class="row">
            <h1 class="text-center">Pick your root note</h1>

            <div class="col-11 notesSection">

                {% for each in Keynotes %}


                <div class="form-check form-check-inline noteselect">
                    <input name="rootSelect" class="form-check-input" type="radio" id="inlineRootCheckbox{{ each }}" value="{{ each }}">
                    <label class="form-check-label" for="inlineRootCheckbox{{ each }}">{{ each }}</label>
                </div>

                {% endfor %}

            </div>

            <div class="col">
                <button class="play_root btn btn-primary btn-lg" type="submit">Play</button>
            </div>
        </div>
    </form>

</div>

<div class="row notesHeader">
    <h1 class="text-center">Select notes for harmony</h1>
    <div class="col notesSection">
        {% for notes in notes %}

        <div class="form-check form-check-inline noteselect">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{ notes }}">
            <label class="form-check-label" for="inlineCheckbox1">{{ notes }}</label>
        </div>

        {% endfor %} 
    </div>

</div>

<div class="row keyDD">
    <div class="col-3 header">
        <div class="btn-group keyButton">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Pick your key
            </button>
            <ul class="dropdown-menu">
                <form>
                    {% for keys in ks %}

                    <li><button type="submit" formaction="{{url_for('harmony', key = ks.keySig)}}" name="keySig" class="dropdown-item text-center">{{ keys.keySig }}</button></li>

                    {% endfor %}
                </form>
            </ul>
        </div>
        

    </div>

    
</div> 




{% endblock %}