{% extends 'index.html' %} {% block content %}


<div class="notesHeader" id="rootblock">
    <p>Root<p>{{ harmlist }}
        <form method="POST"  action="{{url_for('getHarmonyKeys', key=key)}}">
        <div class="row">
            <h1 class="text-center">Pick your root note </h1>
            <div class="col-10 notesSection">
                {% for each in Keynotes %}
            
                <div class="form-check form-check-inline noteselect">

                    <input name="rootSelect" {%if each == root %} checked {%endif%} class="form-check-input"  type="radio"
                        id="inlineRootCheckbox" value="{{ each }}" >
                    <label class="form-check-label" for="inlineRootCheckbox">{{ each }}</label>
                </div>
                   
                    {% endfor %}
            </div>

            
        </div>

</div>


{% if harmlist %}

<div class="notesHeader" id="notesblock">
    
        <div class="row">
            <h1 class="text-center">Select notes for harmony</h1>
            <div class="col-10 notesSection">
                
                {% for notes in Keynotes %}

                <div class="form-check form-check-inline noteselect">

                    <input class="form-check-input" type="checkbox" id="inlineCheckbox{{ notes }}"
                        value="{{ notes }}" name="{{ notes }}"{% for each in harmlist %} {%if each == notes %} checked {%endif%} {% endfor %}>
                    <label class="form-check-label" for="inlineCheckbox{{ notes }}">{{ notes }}</label>
                </div>
                
                {% endfor %}
            </div>
            <div class="col-1">
                <button type="submit" id="harm_Select"
                    class="play_root btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
    </form>
</div>
{% else %}
<div class="notesHeader" id="notesblock">
    
        <div class="row">
            <h1 class="text-center">Select notes for harmony</h1>
            <div class="col-10 notesSection">
                {% for notes in Keynotes %}

                <div class="form-check form-check-inline noteselect">

                    <input class="form-check-input" type="checkbox" id="inlineCheckbox{{ notes }}"
                        value="{{ notes }}" name="{{ notes }}" >
                    <label class="form-check-label" for="inlineCheckbox{{ notes }}">{{ notes }}</label>
                </div>
                {% endfor %}
            </div>
            <div class="col-1">
                
                <button type="submit" id="harm_Select" 
                    class="play_root btn btn-primary btn-lg">Submit</button>
                
            </div>
        </div>
    </form>
</div>
{% endif %}



{% endblock %}
