{% extends 'index.html' %} {% block content %}


<div class="row ">

    <div class="col-3 header">
        <div class="header">
            <table class="table">
                <tr>
                    <td class="left" id="keyIs">
                        Your key is {{ key }}
                    </td>

                    <td class="right" id="keyIs">{% if root %} Your root note is {{ root }}
                    </td>{% endif %}
                </tr>
            </table>
        </div>
        <div class="header keyIs">
            <p id="keyIs">The notes are </p>
            {{ Keynotes|join(', ') }}
        </div>
    </div>
    <div class="col-9 header">

    </div>
</div>

</div>




<div class="notesHeader" id="rootblock">

    <form method="post" action="{{url_for('pick_root', key=key)}}">


        <div class="row">
            <h1 class="text-center">Pick your root note</h1>
            
            <div class="col-10 notesSection">
                {% for each in Keynotes %}


                <div class="form-check form-check-inline noteselect">

                    <input name="rootSelect" {%if each == root %} checked {%endif%} class="form-check-input" type="radio"
                        id="inlineRootCheckbox" value="{{ each }}">
                    <label class="form-check-label" for="inlineRootCheckbox">{{ each }}</label>
                </div>
                {% endfor %}
            </div>

            
            <div class="col-1" >
                <button type="submit" id="root_Select" 
                    class="play_root btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
    </form>

</div>

{% endblock %}

